snippet /// "Comment Section"
/*
	${1:Description: TODO}
*/
${0}
endsnippet

snippet st "Starting code"
#include<iostream>
using namespace std;

int main(){
	cout << "${0:print}" << endl;
	system("pause");
	return 0;
}
endsnippet

snippet main "main function"
int main(){
	cout << "${0:print}" << endl;
	system("pause");
	return 0;
}
endsnippet
